header {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  